<% provide(:title, @user.name) %>
<div>
  <table class = "table table-bordered table-condensed user-table">  <!--テーブルの各セルにボーダー(線)を付ける、condensed：通常よりも幅の狭いテーブル(=table-sm)-->
    <tr>  <!--「table row」の略で表の行部分(横方向)を指定するタグ。この中に<<th>や<td>を入れる-->
      <td>時間管理表</td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>月初日</td>
    </tr>
    
    <tr>
      <td>所属:<%= @user.department.present? ? @user.department : "未所属" %></td>
      <!-- present?：審議判定メソッド。@userのdepartmentカラムに値が入っている場合にはtrue、ない場合にはfalsを返す-->
      <td>名前：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月末日</td>
    </tr>
  </table>
</div>