<% provide(:title, '出勤中社員一覧') %>
<h1><%= "出勤中社員一覧" %></h1>

<table class = "table table-bordered table-condensed table-working-members" id = "table-working-members">
  <thead>
    <tr>
      <th class = employee_number>社員番号</th>
      <th class = employee_name>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.attendances.where(worked_on: @first_day..@last_day).present? %>
        <% attendance = user.attendances.find_by(worked_on: Date.current) %>
        <% if attendance[:started_at].present? && attendance[:finished_at].blank? %>
          <% working_member = user %>
          <tr>
            <td><%= working_member.employee_number %></td>
            <td><%= working_member.name  %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>