/* ユーザー勤怠情報テーブル */

#table-attendances-header {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#table-attendances-body {
  th {
    vertical-align: middle;
    text-align: center;
  }

  td {
    vertical-align: middle;
    text-align: center;
    width: 50px;
  }
  td:nth-child(10) {
    text-align: left;
    font-size: 75%;
  }
  td:nth-child(14) {
    text-align: left;
    font-size: 75%;
  }
  td:nth-child(15) {
    text-align: left;
    font-size: 75%;
  }
  }

#table-attendances-log {
  th {
    vertical-align: middle;
    text-align: center;
    width: 150px;
  }

  td {
    vertical-align: middle;
    text-align: center;
    width: 150px;
  }
  }

/* ユーザー勤怠編集テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* ユーザー一覧表示*/

.users-index {
  margin-top: 10px;
  margin-left: 100px;
}

.users-index-name {
  margin-top: 10px;
}

.btn-users-index-delete {
  margin-top: 5px;
}

.btn-users-index-edit {
  width: 100px;
}

.note-area {
  width: 150px;
}

.overwork-content {
    width: 150px;
}

.superior-check {
    width: 150px;
}

.attendance-btn {
    width: 75px;
}

.btn-overwork {
    width: 60x;
}

.btn-attendance {
    width: 50x;
}

.working-time {
    width: 50x;
}

///* 各承認の上長勤怠画面お知らせ表示 *///

  /* 上長側の表示 */
  /* お知らせありの場合 */
.approval-info{
  margin: 5px 0px 10px 10px;
.approval-label{
  font-size: 15px;
  line-height: 1.25;
  color: red;
  margin: 5px 0px 10px 10px;
  font-weight: bold;
}
  /* 上長側の表示 */
  /* お知らせあり件数の表示 */
.approvals-number{
  color: red;
  border: 3px solid red;
}
}
  /* 上長側の表示 */
  /* お知らせなしの場合 */
.approval-no-info{
  font-size: 15px;
  line-height: 1.25;
  margin: 5px 0px 10px 20px;
  font-weight: bold;
}

/* csvファイルインポートボタン */
.btn-csv-import {
  margin-top: 5px;
  width: 275px;
}

/* 勤怠変更ログ */
/* 検索対象の年/月選択ボタン */
.year,.month,.day {
  width: 75px;
  height: 30px;
}

.year {
  margin-top: 2.5px;
  width: 75px;
  height: 30px;
}

/* 検索ボタン/全表示ボタン */

.btn-search {
  margin-bottom: 2.5px;
}

.btn-log-search {
  color: #000;
  background: #c0c0c0;
  width: 100px;
}

/* 勤怠ログ検索エリアテーブル */
#table-log-search {
  width: 150px;
  th {
  text-align: center;
  vertical-align: middle;
  }
}