/* ユーザー勤怠情報テーブル */

#table-attendances-header {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#table-attendances-body {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
    width: 50px;
  }
}

/* ユーザー一覧表示*/

.users-index {
  margin-top: 10px;
  margin-left: 100px;
}

.users-index-name {
  margin-top: 10px;
}

.btn-users-index-delete {
  margin-top: 5px;
}

.btn-users-index-edit {
  width: 100px;
}

/* 一ヶ月分の勤怠承認欄 */

.month-approval{
  text-align: center;
}

/* 一ヶ月分の勤怠承認ボタン */

.btn-approval {
  margin-top: 10px;
}

/* 一ヶ月分の勤怠承認者選択 */

.month-approval-select{
  width: 150px;
}

.note-area {
  width: 150px;
}

.overwork-content {
    width: 150px;
}

/* csvファイルインポートボタン */

.btn-csv-import {
  margin-top: 5px;
  width: 275px;
}