.label-base-status {
  margin-top: 10px;
}

.btn-base-registration {
  margin-top: 10px;
}

#table-bases {
  th {
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}