<header class = "navbar bavbar-fixed-top navbar-inverse"> <!--ページ上部にある要素-->
<!--bs fixed-top：ビューポートの上部に端から端まで配置。nav-inverse：黒い色のナビゲーションバー-->
  <div class = "container">
    <%= link_to "Attendance App", '#', id: "logo" %>
      <nav>
        <ul class = "nav navbar-nav navbar-right">
        <!--テキストを右寄せに指定-->
          <li><%= link_to "Top", root_path %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
  </div>
</header>